form {
  display: flex;
}

.input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-right: 10px;
  font-size: 16px;
}

.input:focus {
  outline: none;
  border-color: #61dafb;
}

button {
  background-color: rgb(52, 216, 52);
  border-radius: 10px;
  border: none;
  width: 20%;
}
